# ====================================
# General configuration
# ====================================

# Comma seperated profiles, defaults to prod if left empty.
DAMAP_QUARKUS_PROFILE=
# Sets the HTML title of the frontend
DAMAP_TITLE="DAMAP Tool"
# Sets the frontends mode, should always be PROD for production environment.
# Allowed values:
#   - DEV
#   - PROD
DAMAP_ENV=DEV
# Comma-separated list of allowed browser origins for CORS.
# This should match your external DAMAP URL.
# NOTE: No trailing slash!
DAMAP_QUARKUS_HTTP_CORS_ORIGINS=http://localhost:8085
# Sets the project service used, should be set to elsevier-pure only when pure integration is used.
# Allowed values:
#   - default
#   - elsevier-pure
DAMAP_PROJECTS_SERVICE=default
# Text shown  in the frontend to allow users to switch between person services.
DAMAP_PERSON_SERVICES_DISPLAY_TEXT=University
# Sets which person service is used.
# Allowed values:
#   - UNIVERSITY
#   - PURE
DAMAP_PERSON_SERVICES_QUERY_VALUE=UNIVERSITY
# Which java class is to be used as person service.
# Set to org.damap.base.integration.pure.PurePersonService for PURE.
# Or to your custom class, if you do use a custom integration.
DAMAP_PERSON_SERVICES_CLASS_NAME=org.damap.base.integration.mock.MockUniversityPersonServiceImpl

# ====================================
# Authentication
# ====================================

# Configures the OIDC realm the DAMAP backend should query to verify authentication.
DAMAP_QUARKUS_OIDC_AUTH_SERVER_URL=http://keycloak:8080/realms/damap
# Configures the OIDC URL the frontend should send users to in order to log in. This is typically the same
# as QUARKUS_OIDC_AUTH_SERVER_URL, but may differ if the backend can access the OIDC server over a non-public network
DAMAP_QUARKUS_OIDC_TOKEN_ISSUER=http://localhost:8087/realms/damap
# Client ID as configured in the OIDC Server
DAMAP_QUARKUS_OIDC_CLIENT_ID=damap
# Scopes to request during login
DAMAP_AUTH_SCOPE="openid profile email offline_access microprofile-jwt roles personID"
# The OIDC claim path that will hold your DAMAP roles in the access token
# Also accepts paths, e.g. "realm_access/roles"
DAMAP_AUTH_USER_ROLES_CLAIM_PATH=realm_access/roles
# The OIDC claim to use as a user ID.
DAMAP_AUTH_USER_ID_CLAIM=personID
# The OIDC claim that holds the users full name.
DAMAP_AUTH_NAME_CLAIM=name
# The OIDC claim that holds the users given name.
DAMAP_AUTH_GIVEN_NAME_CLAIM=given_name
# The OIDC claim that holds the users family name
DAMAP_AUTH_FAMILY_NAME_CLAIM=family_name
# The OIDC claim that holds the users email.
DAMAP_AUTH_EMAIL_CLAIM=email
# The OIDC claim that holds the users affiliations.
DAMAP_AUTH_AFFILIATIONS_CLAIM=affiliation
# Role name used to identify DAMAP super admins
# If DAMAP is locally deployed and the variable is not set to damap-super-admin, ADMIN_ROLE constant in the
# DefaultProfile test profile needs to be changed accordingly, otherwise the tests fail
DAMAP_AUTH_ADMIN_ROLE_NAME='Damap Admin'

## ====================================
## Database configuration
## ====================================

# URL of the database
# This variable is typically not needed, as the individual components can be configured using the variables below,
# but it can be used to override the default URL constructed from the individual components.
DAMAP_QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://damap-db:5432/damap
# Host of the database, used to construct the JDBC URL if QUARKUS_DATASOURCE_JDBC_URL is not set.
DAMAP_DATABASE_HOST=damap-db
# Name of the database, used to construct the JDBC URL if QUARKUS_DATASOURCE_JDBC_URL is not set.
DAMAP_DATABASE_NAME=damap
# Username for the database connection.
DAMAP_DATABASE_USERNAME=damap
# Password for the database user.
DAMAP_DATABASE_PASSWORD=pw4damap
# Type of database driver
DAMAP_QUARKUS_DATASOURCE_JDBC_DRIVER=org.postgresql.Driver
# Type of database
DAMAP_QUARKUS_DATASOURCE_DB_KIND=postgresql
# Database dialect
DAMAP_QUARKUS_HIBERNATE_ORM_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# ======================
# REST
# ======================

DAMAP_REST_FITS_MP_REST_URL=http://fits-service:8080/fits
DAMAP_REST_GOTENBERG_MP_REST_URL=http://gotenberg:3000

# =====================
# Fields
# =====================

# Enables input field for short ethical report description
DAMAP_FIELDS_ETHICAL_REPORT_ENABLED=true

# =====================
# Elsevier PURE
# =====================

# The following settings map Pure classification URIs to DAMAP properties.
# Pure classification URIs start with /dk/atira/pure, but are otherwise specific to the institutional setup in Pure.

# The project description field DAMAP should use.
DAMAP_ELSEVIER_PURE_DESCRIPTION_CLASSIFICATION=/dk/atira/pure/projectdescription
# How Pure project contributor classifications map to DAMAP.
DAMAP_ELSEVIER_PURE_CONTRIBUTOR_ROLE_CLASSIFICATIONS='{"/dk/atira/pure/member":"PROJECT_MEMBER"}'
# Which Pure classification should be read as the project lead.
DAMAP_ELSEVIER_PURE_PROJECT_LEAD_ROLE_CLASSIFICATION=/dk/atira/pure/projectlead
# Configures if data should be fetched over http or from local files - should always be http for PROD.
# Allowed values:
#   - http
#   - file
DAMAP_ELSEVIER_PURE_BACKEND=http
# URL to fetch data from, only relevant when ELSEVIER_PURE_BACKEND is set to http
DAMAP_ELSEVIER_PURE_ENDPOINT_URL="https://your-pure-instance.elsevierpure.com/ws/api"
# API key used to authenticate over the PURE API, only relevant when ELSEVIER_PURE_BACKEND is set to http
DAMAP_ELSEVIER_PURE_API_KEY="your API key here"
# location of projects file, only relevant when ELSEVIER_PURE_BACKEND is set to file
DAMAP_ELSEVIER_PURE_PROJECTS_FILE="file:///path/to/projects.json"
# location of persons file, only relevant when ELSEVIER_PURE_BACKEND is set to file
DAMAP_ELSEVIER_PURE_PERSONS_FILE="file:///path/to/persons.json"

# ====================================
# Extra settings needed for production
# ====================================

# Domain name of the DAMAP instance. Used to:
# - set the Keycloak base URL via an environment variable
# - populate URLs in the JSON file used for importing the DAMAP realm
DAMAP_HOSTNAME=localhost

# Path on the host machine where the database data should be stored when deploying with the "with_db" profile.
# It will be suffixed by "damap-db":
DAMAP_DATABASE_HOST_PATH=./data

# When deploying using the "with_keycloak" profile, customize these:
# Admin credentials for Keycloak:
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
# Keycloak database settings:
KEYCLOAK_DATABASE_HOST=keycloak-db
KEYCLOAK_DATABASE_NAME=keycloak
KEYCLOAK_DATABASE_USERNAME=keycloak
KEYCLOAK_DATABASE_PASSWORD=keycloak

# Path on the host machine where the Keycloak database data should be stored when deploying with the "with_keycloak_db" profile.
# It will be suffixed by "keycloak-db":
KEYCLOAK_DATABASE_HOST_PATH=./data

# ====================================
# Proxy settings
# ====================================
PROXY_LOGS_HOST_PATH=logs
