## DAMAP settings:
# Database credentials:
DAMAP_DATABASE_USERNAME=damap
DAMAP_DATABASE_PASSWORD=pw4damap
DAMAP_DATABASE_HOST=damap-db
DAMAP_DATABASE_NAME=damap
# Host
DAMAP_HOSTNAME=localhost
# Origin for the CORS header. This should match your external DAMAP URL.
# NOTE: No trailing slash!
DAMAP_ORIGINS=https://localhost
# The URL for OIDC/Keycloak the backend should use.
DAMAP_AUTH_BACKEND_URL=http://keycloak:8080/realms/damap
# The URL for OIDC/Keycloak the users should see.
DAMAP_AUTH_FRONTEND_URL=https://localhost/realms/damap
# OIDC client IDs:
DAMAP_AUTH_BACKEND_CLIENT=damapbe
DAMAP_AUTH_FRONTEND_CLIENT=damap
# Scopes DAMAP should use:
DAMAP_AUTH_SCOPE="openid profile email offline_access microprofile-jwt roles personID"
DAMAP_AUTH_USER=personId

## PostgreSQL for DAMAP, when deployed with the "with_db" profile (will be suffixed by damap-db):
DAMAP_DATABASE_HOST_PATH=./data

## When deploying using the "with_keycloak" profile, customize these:
# Admin credentials for Keycloak:
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
# Keycloak database settings:
KEYCLOAK_DATABASE_HOST=keycloak-db
KEYCLOAK_DATABASE_NAME=keycloak
KEYCLOAK_DATABASE_USERNAME=keycloak
KEYCLOAK_DATABASE_PASSWORD=keycloak

## When deploying a PostgreSQL database using the "with_keycloak_db" profile (will be suffixed by keycloak-db):
KEYCLOAK_DATABASE_HOST_PATH=./data

## Proxy settings:
PROXY_LOG_HOST_PATH=logs
